# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Study\codes\semesters\3_2\BigData\PageRank编程大作业\PageRank-master-liyi\PageRank-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
